.home10 {
  position: absolute;
  top: 42px;
  left: 261px;
  font-family: var(--font-jejugothic);
  color: var(--ijo-army);
  display: none;
}
.vector-icon147 {
  position: absolute;
  height: 86.72%;
  width: 84.38%;
  top: 6.64%;
  right: 6.25%;
  bottom: 6.64%;
  left: 9.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.game-iconsfork-knife-spoon14 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 38.79%;
  top: 0;
  right: 61.21%;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.eatfit29 {
  position: absolute;
  height: 60.94%;
  width: 54.55%;
  top: 18.75%;
  left: 45.45%;
  display: inline-block;
  cursor: pointer;
}
.eatfit28 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 12.64%;
  top: 0;
  right: 87.36%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  color: inherit;
}
.navbar-child21 {
  position: absolute;
  height: 14.07%;
  width: 0.77%;
  top: 42.19%;
  right: 85.75%;
  bottom: 43.74%;
  left: 13.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child83,
.restaurant22 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child83 {
  height: 37.52%;
  width: 6.54%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.restaurant-parent12 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 526px;
  width: 153px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.calorie-tracker14 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.frame-child84 {
  position: absolute;
  height: 37.52%;
  width: 4.95%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 95.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calorie-tracker-parent12 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 716px;
  width: 202px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.vector-icon148 {
  position: absolute;
  height: 54.69%;
  width: 2.68%;
  top: 23.44%;
  right: 0;
  bottom: 21.88%;
  left: 97.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar-child22 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--color-sandybrown-200);
  position: absolute;
  height: 56.25%;
  width: 20.38%;
  top: 21.88%;
  right: 6.51%;
  bottom: 21.88%;
  left: 73.1%;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar14 {
  position: absolute;
  top: 24px;
  left: 67px;
  width: 1305px;
  height: 64px;
  mix-blend-mode: normal;
  color: var(--color-gray-200);
}
.calorie-tracker-statistics-child,
.calorie-tracker-statistics-inner,
.calorie-tracker-statistics-item {
  position: absolute;
  top: 153px;
  left: 58px;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 720px;
  height: 464px;
}
.calorie-tracker-statistics-inner,
.calorie-tracker-statistics-item {
  top: 644px;
  height: 317px;
}
.calorie-tracker-statistics-inner {
  top: 641px;
  left: 803px;
  width: 578px;
}
.frame-child85 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--ijo-army);
  width: 295px;
  height: 18px;
}
.calorie-tracker-statistics-inner1 {
  position: absolute;
  top: 856px;
  left: 829px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.fat6 {
  position: absolute;
  top: 840px;
  left: 829px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  display: inline-block;
  width: 356px;
  height: 14px;
}
.frame-child86 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--ijo-army);
  width: 49.57px;
  height: 18px;
}
.calorie-tracker-statistics-inner2 {
  position: absolute;
  top: 811px;
  left: 829px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.proteins1 {
  position: absolute;
  top: 795px;
  left: 829px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  display: inline-block;
  width: 356px;
  height: 14px;
}
.calorie-tracker-statistics-inner3,
.frame-child87 {
  border-radius: var(--br-mini);
  background-color: var(--ijo-army);
}
.frame-child87 {
  position: relative;
  width: 139.7px;
  height: 18px;
}
.calorie-tracker-statistics-inner3 {
  position: absolute;
  top: 901px;
  left: 829px;
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.calories9,
.carbs10 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
  width: 356px;
}
.carbs10 {
  top: 885px;
  left: 829px;
  font-size: var(--font-size-2xs);
  height: 14px;
}
.calories9 {
  top: 668px;
  left: calc(50% + 109px);
  height: 34px;
}
.daily-average-2500,
.my-goal-2400 {
  position: absolute;
  top: 741px;
  display: inline-block;
}
.daily-average-2500 {
  left: calc(50% + 109px);
  font-weight: 600;
  width: 356px;
  height: 34px;
}
.my-goal-2400 {
  left: calc(50% + 500px);
  width: 144px;
  height: 27px;
}
.my-goal-2400,
.span2 {
  font-weight: 600;
}
.span3 {
  font-size: var(--font-size-lgi);
}
.div96 {
  position: absolute;
  top: 702px;
  left: calc(50% + 109px);
  display: inline-block;
  width: 356px;
  height: 34px;
  font-size: var(--font-size-6xl);
}
.calorie-tracker-statistics-child1 {
  position: absolute;
  top: 730px;
  left: 104px;
  background-color: var(--color-gray-400);
  width: 19px;
  height: 19px;
}
.tracking-history1 {
  position: absolute;
  top: 183px;
  left: 89px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.june1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--black);
  text-align: left;
  display: inline-block;
  width: 82px;
  flex-shrink: 0;
}
.vector-icon149 {
  position: relative;
  width: 20px;
  height: 11px;
}
.june-group,
.week-group {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-6xs) var(--padding-xl);
  background-color: var(--white);
  position: absolute;
  top: 234px;
  left: 603px;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  width: 143px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.week-group {
  top: 692px;
}
.mon1,
.sun1 {
  position: absolute;
  top: 555px;
  left: 198px;
}
.mon1 {
  left: 282px;
}
.fri1,
.sat1,
.thu1,
.tue1,
.wed1 {
  position: absolute;
  top: 555px;
  left: 367px;
}
.fri1,
.sat1,
.thu1,
.wed1 {
  left: 449px;
}
.fri1,
.sat1,
.thu1 {
  left: 528px;
}
.fri1,
.sat1 {
  left: 618px;
}
.sat1 {
  left: 698px;
}
.frame-child88 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--kuning-stabilo);
  width: 20px;
  height: 18px;
}
.calorie-tracker-statistics-inner4 {
  position: absolute;
  top: 378px;
  left: 89px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cal4 {
  position: absolute;
  top: 362px;
  left: 89px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  color: var(--kuning-stabilo);
  display: inline-block;
  width: 79px;
  height: 14px;
}
.frame-child89 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--biru-thomas);
  width: 11px;
  height: 18px;
}
.calorie-tracker-statistics-inner5 {
  position: absolute;
  top: 333px;
  left: 89px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cal5,
.carbs11 {
  position: absolute;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  display: inline-block;
  height: 14px;
}
.cal5 {
  top: 317px;
  left: 89px;
  color: var(--biru-thomas);
  width: 79px;
}
.carbs11 {
  top: 732px;
  left: 130px;
  width: 46px;
}
.calorie-tracker-statistics-child2 {
  position: absolute;
  top: 730px;
  left: 183px;
  background-color: var(--color-darkseagreen-100);
  width: 19px;
  height: 19px;
}
.fat7 {
  position: absolute;
  top: 732px;
  left: 209px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  display: inline-block;
  width: 31px;
  height: 14px;
}
.calorie-tracker-statistics-child3 {
  position: absolute;
  top: 730px;
  left: 247px;
  background-color: var(--color-sandybrown-100);
  width: 19px;
  height: 19px;
}
.protein11 {
  position: absolute;
  top: 732px;
  left: 273px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  display: inline-block;
  width: 58px;
  height: 14px;
}
.frame-child90 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--salem);
  width: 31px;
  height: 18px;
}
.calorie-tracker-statistics-inner6 {
  position: absolute;
  top: 423px;
  left: 89px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cal6 {
  position: absolute;
  top: 407px;
  left: 89px;
  font-size: var(--font-size-2xs);
  font-weight: 600;
  color: var(--salem);
  display: inline-block;
  width: 79px;
  height: 14px;
}
.frame-child91 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--ijo-army);
  width: 46px;
  height: 18px;
}
.calorie-tracker-statistics-inner7 {
  position: absolute;
  top: 468px;
  left: 89px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cal7,
.div97,
.period1 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.cal7 {
  top: 452px;
  left: 89px;
  font-size: var(--font-size-2xs);
  color: var(--ijo-army);
  width: 79px;
  height: 14px;
}
.div97,
.period1 {
  left: calc(50% - 616px);
  width: 206px;
  height: 23px;
}
.div97 {
  top: 689px;
  color: var(--ijo-darker);
}
.period1 {
  top: 662px;
}
.vector-icon151 {
  position: relative;
  width: 598px;
  height: 1px;
}
.vector-icon152 {
  width: 1px;
  height: 6px;
}
.div98,
.vector-icon152 {
  position: relative;
}
.frame31 {
  left: 0;
  width: 8px;
  padding: 0.5200042724609375px 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame31,
.frame32,
.frame33 {
  position: absolute;
  top: 0;
  height: 29.52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.frame32 {
  left: 32.47px;
  width: 6px;
  padding: 0.5200042724609375px 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame33 {
  left: 62.95px;
  width: 8px;
}
.frame33,
.frame34,
.frame35 {
  padding: 0.5200042724609375px 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame34 {
  position: absolute;
  top: 0;
  left: 94.42px;
  width: 8px;
  height: 29.52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.frame35 {
  left: 125.89px;
}
.frame35,
.frame36,
.frame37 {
  position: absolute;
  top: 0;
  width: 8px;
  height: 29.52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.frame36 {
  left: 157.37px;
  padding: 0.5200042724609375px 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame37 {
  left: 188.84px;
}
.frame37,
.frame38,
.frame39 {
  padding: 0.5200042724609375px 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame38 {
  position: absolute;
  top: 0;
  left: 220.82px;
  width: 7px;
  height: 29.52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.frame39 {
  left: 251.79px;
  width: 8px;
}
.frame39,
.frame40,
.frame41,
.frame42,
.frame43,
.frame44,
.frame45,
.frame46,
.frame47,
.frame48,
.frame49,
.frame50 {
  position: absolute;
  top: 0;
  height: 29.52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.frame40 {
  left: 283.26px;
  width: 8px;
  padding: 0.5200042724609375px 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame41,
.frame42,
.frame43,
.frame44,
.frame45,
.frame46,
.frame47,
.frame48,
.frame49,
.frame50 {
  left: 311.74px;
  width: 14px;
  justify-content: center;
}
.frame42,
.frame43,
.frame44,
.frame45,
.frame46,
.frame47,
.frame48,
.frame49,
.frame50 {
  left: 344.21px;
  width: 12px;
}
.frame43,
.frame44,
.frame45,
.frame46,
.frame47,
.frame48,
.frame49,
.frame50 {
  left: 375.18px;
  width: 13px;
}
.frame44,
.frame45,
.frame46,
.frame47,
.frame48,
.frame49,
.frame50 {
  left: 406.16px;
  width: 14px;
}
.frame45,
.frame46,
.frame47,
.frame48,
.frame49,
.frame50 {
  left: 437.63px;
}
.frame46,
.frame47,
.frame48,
.frame49,
.frame50 {
  left: 469.61px;
  width: 13px;
}
.frame47,
.frame48,
.frame49,
.frame50 {
  left: 500.58px;
  width: 14px;
}
.frame48,
.frame49,
.frame50 {
  left: 532.55px;
  width: 13px;
}
.frame49,
.frame50 {
  left: 564.03px;
}
.frame50 {
  left: 592px;
  width: 14px;
}
.frame30 {
  position: relative;
  width: 606px;
  height: 29.52px;
}
.frame29 {
  position: absolute;
  top: 165px;
  left: 61px;
  width: 606px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon172 {
  position: relative;
  width: 6px;
  height: 1px;
}
.frame53,
.frame54,
.frame55,
.frame56,
.frame57 {
  position: absolute;
  top: 155.8px;
  left: 23px;
  width: 19px;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame54,
.frame55,
.frame56,
.frame57 {
  top: 115.8px;
  left: 9px;
  width: 33px;
  justify-content: flex-end;
}
.frame55,
.frame56,
.frame57 {
  top: 75.8px;
  left: 3px;
  width: 39px;
}
.frame56,
.frame57 {
  top: 35.8px;
  left: 1px;
  width: 41px;
}
.frame57 {
  top: 0;
  left: 0;
  width: 42px;
}
.frame52,
.vector-icon177 {
  position: relative;
  width: 42px;
  height: 170.8px;
}
.vector-icon177 {
  width: 1px;
  height: 160px;
}
.frame51 {
  position: absolute;
  top: 1.46px;
  left: 23px;
  height: 170.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
}
.group-icon1 {
  position: absolute;
  height: 80.5%;
  width: 89.67%;
  top: 2.25%;
  right: 0.67%;
  bottom: 17.25%;
  left: 9.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon2,
.group-icon3 {
  width: 90.42%;
  right: 0.3%;
  bottom: 17.5%;
  left: 9.28%;
  max-width: 100%;
  max-height: 100%;
}
.group-icon2 {
  position: absolute;
  height: 76.73%;
  top: 5.77%;
  overflow: hidden;
}
.group-icon3 {
  height: 78.03%;
  top: 4.47%;
}
.chart1,
.group-icon3,
.group-icon4 {
  position: absolute;
  overflow: hidden;
}
.group-icon4 {
  height: 72.3%;
  width: 90.42%;
  top: 10.2%;
  right: 0.3%;
  bottom: 17.5%;
  left: 9.28%;
  max-width: 100%;
  max-height: 100%;
}
.chart1 {
  top: 761px;
  left: 78px;
  width: 668px;
  height: 200px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.most-favourite2 {
  margin: 0;
}
.most-favourite1 {
  position: absolute;
  top: 343px;
  left: calc(50% + 83px);
  font-size: var(--font-size-41xl);
  display: inline-block;
  color: var(--coklat);
  text-align: right;
  width: 291px;
  height: 161px;
}
.frame-child92 {
  position: absolute;
  top: 106px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--krem);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  width: 248px;
  height: 248px;
  mix-blend-mode: darken;
}
.smores-eclair11 {
  position: absolute;
  top: 210px;
  left: 58px;
  font-size: var(--font-size-xl);
}
.cals54,
.frame-child93 {
  position: absolute;
  top: 267px;
  left: 94px;
}
.frame-child93 {
  top: 249.5px;
  left: 23.5px;
  border-top: 1px solid var(--ijo-darker);
  box-sizing: border-box;
  width: 200px;
  height: 1px;
}
.image-3-icon58 {
  position: absolute;
  top: 0;
  left: 31.5px;
  width: 186px;
  height: 186px;
  object-fit: cover;
}
.ordered-60-times {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 80px;
  height: 36px;
  flex-shrink: 0;
}
.ordered-60-times-wrapper {
  position: absolute;
  top: 301px;
  left: 57px;
  border-radius: var(--br-mini);
  background-color: var(--ijo-army);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 134px;
  height: 44px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  color: var(--white);
}
.rectangle-parent21 {
  position: absolute;
  top: 187px;
  left: 1124px;
  width: 248px;
  height: 354px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.vector-icon178 {
  position: absolute;
  height: 1.56%;
  width: 1.11%;
  top: 67.58%;
  right: 76.94%;
  bottom: 30.86%;
  left: 21.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tanggal-child29 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--ijo-army);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.div123 {
  position: absolute;
  top: 23.81%;
  left: 46.27%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.tanggal31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  height: 42px;
}
.div124 {
  position: absolute;
  top: 23.81%;
  left: 41.79%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.tanggal-child31,
.tanggal32 {
  position: absolute;
  top: 104px;
  left: 1px;
  width: 67px;
  height: 42px;
}
.tanggal-child31 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--kuning-stabilo);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.tanggal-child32,
.tanggal33 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 67px;
  height: 42px;
}
.tanggal-child32 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--salem);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.div126 {
  position: absolute;
  top: 23.81%;
  left: 40.3%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.tanggal-child33,
.tanggal34 {
  position: absolute;
  top: 156px;
  left: 1px;
  width: 67px;
  height: 42px;
}
.tanggal-child33 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--biru-thomas);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.tanggal35,
.tanggal36 {
  position: absolute;
  top: 208px;
  left: 1px;
  width: 67px;
  height: 42px;
}
.tanggal36 {
  top: 0;
  left: 81px;
}
.tanggal-child38,
.tanggal37,
.tanggal38,
.tanggal39 {
  position: absolute;
  top: 104px;
  left: 82px;
  width: 67px;
  height: 42px;
}
.tanggal-child38,
.tanggal38,
.tanggal39 {
  top: 52px;
  left: 81px;
}
.tanggal-child38,
.tanggal39 {
  top: 156px;
  left: 82px;
}
.tanggal-child38 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.tanggal40 {
  position: absolute;
  top: 208px;
  left: 82px;
  width: 67px;
  height: 42px;
}
.div133 {
  position: absolute;
  top: 23.81%;
  left: 44.78%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.tanggal41,
.tanggal42,
.tanggal43 {
  position: absolute;
  top: 0;
  left: 162px;
  width: 67px;
  height: 42px;
}
.tanggal42,
.tanggal43 {
  top: 104px;
  left: 163px;
}
.tanggal43 {
  top: 52px;
  left: 162px;
}
.tanggal44,
.tanggal45,
.tanggal46,
.tanggal47 {
  position: absolute;
  top: 156px;
  left: 163px;
  width: 67px;
  height: 42px;
}
.tanggal45,
.tanggal46,
.tanggal47 {
  top: 208px;
}
.tanggal46,
.tanggal47 {
  top: 0;
  left: 243px;
}
.tanggal47 {
  top: 104px;
  left: 244px;
}
.div140 {
  position: absolute;
  top: 23.81%;
  left: 43.28%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.tanggal48,
.tanggal49,
.tanggal50 {
  position: absolute;
  top: 52px;
  left: 243px;
  width: 67px;
  height: 42px;
}
.tanggal49,
.tanggal50 {
  top: 156px;
  left: 244px;
}
.tanggal50 {
  top: 0;
  left: 324px;
}
.tanggal51,
.tanggal52,
.tanggal53,
.tanggal54 {
  position: absolute;
  top: 104px;
  left: 325px;
  width: 67px;
  height: 42px;
}
.tanggal52,
.tanggal53,
.tanggal54 {
  top: 52px;
  left: 324px;
}
.tanggal53,
.tanggal54 {
  top: 156px;
  left: 325px;
}
.tanggal54 {
  top: 0;
  left: 405px;
}
.tanggal55,
.tanggal56,
.tanggal57,
.tanggal58 {
  position: absolute;
  top: 104px;
  left: 406px;
  width: 67px;
  height: 42px;
}
.tanggal56,
.tanggal57,
.tanggal58 {
  top: 52px;
  left: 405px;
}
.tanggal57,
.tanggal58 {
  top: 156px;
  left: 406px;
}
.tanggal58 {
  top: 0;
  left: 486px;
}
.tanggal-group,
.tanggal59,
.tanggal60,
.tanggal61 {
  position: absolute;
  top: 104px;
  left: 487px;
  width: 67px;
  height: 42px;
}
.tanggal-group,
.tanggal60,
.tanggal61 {
  top: 52px;
  left: 486px;
}
.tanggal-group,
.tanggal61 {
  top: 156px;
  left: 487px;
}
.tanggal-group {
  top: 287px;
  left: 188px;
  width: 554px;
  height: 250px;
  text-align: center;
  font-size: var(--font-size-2xs);
}
.calorie-tracker-statistics {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow-y: auto;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-inter);
}
