.calorie-tracker-journey-afte-child {
  position: absolute;
  top: 253px;
  left: 243px;
  border-radius: var(--br-3xs);
  background-color: var(--color-linen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 977px;
  height: 362px;
}
.calorie-tracker-journey-afte-item {
  position: absolute;
  top: 294px;
  left: 605px;
  border-radius: 50%;
  background-color: var(--ijo-darker);
  border: 0.5px solid var(--white);
  box-sizing: border-box;
  width: 284px;
  height: 284px;
}
.calorie-tracker-journey-afte-inner {
  position: absolute;
  top: 181.04px;
  left: 243px;
  border-radius: var(--br-3xs);
  width: 977px;
  height: 60px;
}
.daily {
  top: 200px;
  left: 441px;
  font-weight: 600;
  color: var(--black);
}
.daily,
.home4,
.summary {
  position: absolute;
}
.summary {
  text-decoration: none;
  top: 200px;
  left: 960px;
  color: var(--black);
}
.home4 {
  top: 42px;
  left: 261px;
  font-family: var(--font-jejugothic);
  color: var(--ijo-army);
  text-align: left;
  display: none;
}
.game-iconsfork-knife-spoon6 {
  position: absolute;
  height: 105.86%;
  width: 38.79%;
  top: 0;
  right: 61.21%;
  bottom: -5.86%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eatfit13 {
  position: absolute;
  height: 60.94%;
  width: 54.55%;
  top: 18.75%;
  left: 45.45%;
  display: inline-block;
  cursor: pointer;
}
.eatfit12 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 12.64%;
  top: 0;
  right: 87.36%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  color: inherit;
}
.navbar-child6 {
  position: absolute;
  height: 14.07%;
  width: 0.77%;
  top: 42.19%;
  right: 85.75%;
  bottom: 43.74%;
  left: 13.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child36,
.restaurant6 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child36 {
  height: 37.52%;
  width: 6.54%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.restaurant-parent4 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 526px;
  width: 153px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.calorie-tracker6 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.frame-child37 {
  position: absolute;
  height: 37.52%;
  width: 4.95%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 95.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calorie-tracker-parent4 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 716px;
  width: 202px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.navbar-child7,
.vector-icon92 {
  position: absolute;
  bottom: 21.88%;
}
.vector-icon92 {
  height: 54.69%;
  width: 2.68%;
  top: 23.44%;
  right: 0;
  left: 97.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar-child7 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--color-sandybrown-200);
  height: 56.25%;
  width: 20.38%;
  top: 21.88%;
  right: 6.51%;
  left: 73.1%;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar6 {
  position: absolute;
  top: 24px;
  left: 67px;
  width: 1305px;
  height: 64px;
  mix-blend-mode: normal;
  text-align: left;
  color: var(--color-gray-200);
}
.frame-child38 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--salem);
  width: 83.01px;
  height: 18px;
}
.calorie-tracker-journey-afte-inner1 {
  position: absolute;
  top: 520px;
  left: 302px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-child39 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--kuning-stabilo);
  width: 74px;
  height: 18px;
}
.calorie-tracker-journey-afte-inner2 {
  position: absolute;
  top: 517px;
  left: 688px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-child40 {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--biru-thomas);
  width: 87px;
  height: 18px;
}
.calorie-tracker-journey-afte-inner3 {
  position: absolute;
  top: 511px;
  left: 1047px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.calorie-tracker-journey-afte-child1 {
  position: absolute;
  top: 294px;
  left: 605px;
  border-radius: 50%;
  background-color: var(--color-silver);
  border: 0.5px solid var(--white);
  box-sizing: border-box;
  width: 284px;
  height: 284px;
}
.p {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.calories4 {
  margin: 0;
}
.calories3 {
  position: absolute;
  top: 361px;
  left: 686px;
  font-weight: 600;
  color: var(--black);
  display: inline-block;
  width: 122px;
}
.image-1-icon {
  position: absolute;
  top: 272px;
  left: 1190px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.apr-2023,
.carbohydrates,
.gr3 {
  position: absolute;
  top: 471px;
  left: 289px;
  font-weight: 600;
  display: inline-block;
  width: 161px;
}
.apr-2023,
.gr3 {
  top: 548px;
}
.apr-2023 {
  top: 141px;
  left: 588px;
  font-size: var(--font-size-11xl);
  color: var(--black);
  width: 318px;
}
.image-10-icon,
.image-9-icon {
  position: absolute;
  top: 150px;
  left: 847px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.image-10-icon {
  left: 627px;
}
.gr4 {
  position: absolute;
  top: 554px;
  left: 675px;
  font-weight: 600;
  display: inline-block;
  width: 161px;
}
.beard-papas4,
.cals32,
.cals33,
.cals34,
.fats2,
.gr5,
.protein5 {
  position: absolute;
  top: 477px;
  left: 705px;
  font-weight: 600;
  display: inline-block;
  width: 102px;
}
.beard-papas4,
.cals32,
.cals33,
.cals34,
.fats2,
.gr5 {
  top: 471px;
  left: 1062px;
}
.beard-papas4,
.cals32,
.cals33,
.cals34,
.gr5 {
  top: 548px;
}
.beard-papas4,
.cals32,
.cals33,
.cals34 {
  top: 25px;
  left: 26px;
  width: 318px;
}
.cals32,
.cals33,
.cals34 {
  top: 100px;
  left: 820px;
  font-weight: 500;
  width: 133px;
}
.cals33,
.cals34 {
  top: 25px;
  font-weight: 600;
}
.cals34 {
  top: 171px;
  font-weight: 500;
  height: 36px;
}
.creme-brulee7 {
  top: 83px;
  font-size: var(--font-size-3xl);
}
.creme-brulee7,
.serving,
.serving1,
.vanilla-custard-cream2 {
  position: absolute;
  left: 26px;
  display: inline-block;
  width: 318px;
}
.vanilla-custard-cream2 {
  top: 151px;
  font-size: var(--font-size-3xl);
  height: 32px;
}
.serving,
.serving1 {
  top: 112px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgreen-100);
}
.serving1 {
  top: 185px;
  height: 29px;
}
.calorie-per-day-child {
  position: absolute;
  top: 68.25px;
  left: -0.75px;
  border-top: 1.5px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 979.5px;
  height: 1.5px;
}
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: 116px;
  left: 125px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.image-5-icon {
  top: 189px;
  height: 18px;
}
.calorie-per-day {
  position: absolute;
  top: 644px;
  left: 252px;
  border-radius: var(--br-3xs);
  background-color: var(--color-linen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 977px;
  height: 239px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--ijo-darker);
}
.ellipse-icon,
.group-child10 {
  position: absolute;
  border-radius: 50%;
}
.group-child10 {
  top: 0;
  left: 0;
  background-color: var(--ijo-army);
  width: 65px;
  height: 65px;
}
.ellipse-icon {
  top: 17px;
  left: 18px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ellipse-parent {
  text-decoration: none;
  position: absolute;
  top: 914px;
  left: 1289px;
  width: 65px;
  height: 65px;
}
.calorie-tracker-journey-afte {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow-y: auto;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
