.wpffaq-icon {
  position: absolute;
  top: 165px;
  left: 327px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.home18 {
  position: absolute;
  top: 42px;
  left: 261px;
  font-family: var(--font-jejugothic);
  color: var(--ijo-army);
  display: none;
}
.game-iconsfork-knife-spoon23 {
  position: absolute;
  height: 105.86%;
  width: 38.79%;
  top: 0;
  right: 61.21%;
  bottom: -5.86%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eatfit47 {
  position: absolute;
  height: 60.94%;
  width: 54.55%;
  top: 18.75%;
  left: 45.45%;
  display: inline-block;
  cursor: pointer;
}
.eatfit46 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 12.64%;
  top: 0;
  right: 87.36%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  color: inherit;
}
.navbar-child36 {
  position: absolute;
  height: 14.07%;
  width: 0.77%;
  top: 42.19%;
  right: 85.75%;
  bottom: 43.74%;
  left: 13.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child143,
.restaurant39 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child143 {
  height: 37.52%;
  width: 6.54%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.restaurant-parent21 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 526px;
  width: 153px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.frame-child144 {
  position: absolute;
  height: 37.52%;
  width: 4.95%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 95.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calorie-tracker-parent21 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 716px;
  width: 202px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.vector-icon210 {
  position: absolute;
  height: 54.69%;
  width: 2.68%;
  top: 23.44%;
  right: 0;
  bottom: 21.88%;
  left: 97.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar-child37 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--color-sandybrown-200);
  position: absolute;
  height: 56.25%;
  width: 20.38%;
  top: 21.88%;
  right: 6.51%;
  bottom: 21.88%;
  left: 73.1%;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.help-center-child,
.navbar23 {
  position: absolute;
  mix-blend-mode: normal;
}
.navbar23 {
  top: 24px;
  left: 67px;
  width: 1305px;
  height: 64px;
  color: var(--color-gray-200);
}
.help-center-child {
  top: 234px;
  left: 199px;
  border-radius: var(--br-11xl);
  background-color: var(--krem);
  width: 1042px;
  height: 674px;
}
.profile-navbar-child3,
.profile-navbar-child4 {
  position: absolute;
  height: 111.11%;
  width: 100.84%;
  top: 0;
  right: -0.42%;
  bottom: -11.11%;
  left: -0.42%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile-navbar-child4 {
  height: 66.67%;
  width: 31.24%;
  top: 16.67%;
  right: 1.89%;
  bottom: 16.67%;
  left: 66.88%;
  border-radius: var(--br-6xl);
  cursor: pointer;
}
.profile4 {
  text-decoration: none;
  position: absolute;
  top: 30.56%;
  left: 13.84%;
  font-weight: 600;
  color: inherit;
  text-align: center;
}
.help-center4,
.settings4 {
  position: absolute;
  top: 29.17%;
  font-weight: 600;
}
.settings4 {
  text-decoration: none;
  left: 45.07%;
  color: inherit;
}
.help-center4 {
  left: 75.16%;
  color: var(--ijo-darker);
}
.profile-navbar3 {
  position: absolute;
  top: 256px;
  left: 243px;
  width: 954px;
  height: 72px;
  mix-blend-mode: normal;
  font-size: var(--font-size-5xl);
  color: var(--white);
}
.support,
.terms-conditions1 {
  position: absolute;
  top: 455px;
  left: 288px;
}
.terms-conditions1 {
  top: 500px;
}
.div154,
.eatfitbinusedu,
.privacy-policy {
  position: absolute;
  top: 548px;
  left: 289px;
}
.div154,
.eatfitbinusedu {
  top: 735px;
}
.eatfitbinusedu {
  top: 780px;
}
.epdocument-icon,
.faq {
  position: absolute;
  top: 590px;
  left: 290px;
}
.epdocument-icon {
  top: 496px;
  left: 243px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.hi-bob123-how {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.contact-us-wrapper,
.hi-bob123-how-can-we-help-yo-wrapper {
  position: absolute;
  top: 394px;
  left: 243px;
  width: 411px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.contact-us-wrapper {
  top: 674px;
}
.help-center-inner,
.help-center-item {
  position: absolute;
  top: 436.25px;
  left: 242.25px;
  border-top: 1.5px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 431.5px;
  height: 1.5px;
}
.help-center-inner {
  top: 716.25px;
}
.group-child32,
.hi-bob123-how-can-we-help-yo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 417px;
  height: 29px;
}
.group-child32 {
  top: 42.25px;
  left: -0.75px;
  border-top: 1.5px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 437.5px;
  height: 1.5px;
}
.group-child33 {
  border: 0;
  background-color: var(--white);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
}
.enter-your-feedback {
  position: absolute;
  top: 9.12px;
  left: 13px;
  display: flex;
  align-items: center;
  width: 218.72px;
  height: 19.55px;
}
.group-child34,
.rectangle-parent25 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.rectangle-parent25 {
  height: 72.97%;
  top: 12.97%;
  bottom: 14.07%;
  font-size: var(--font-size-mini);
  color: var(--color-silver);
}
.group-child34 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--ijo-army);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.submit2 {
  position: absolute;
  top: 12px;
  left: 23px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-floralwhite);
  text-align: center;
}
.group-wrapper,
.rectangle-parent26 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 10.55%;
  width: 26.15%;
  top: 89.45%;
  left: 73.85%;
}
.frame-parent {
  position: absolute;
  top: 394px;
  left: 761px;
  width: 436px;
  height: 455px;
  font-size: var(--font-size-5xl);
}
.bxhelp-circle-icon,
.dashiconsprivacy {
  position: absolute;
  top: 544px;
  left: 243px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.bxhelp-circle-icon {
  top: 451px;
}
.vector-icon211,
.vector-icon212,
.wpffaq-icon1 {
  position: absolute;
  top: 589px;
  left: 248px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.vector-icon211,
.vector-icon212 {
  height: 1.76%;
  width: 1.74%;
  top: 76.46%;
  right: 81.04%;
  bottom: 21.78%;
  left: 17.22%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon212 {
  height: 2.25%;
  width: 1.6%;
  top: 71.78%;
  right: 81.11%;
  bottom: 25.98%;
  left: 17.29%;
}
.help-center3 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow-y: auto;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-inter);
}
