@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.home8 {
  position: absolute;
  top: 42px;
  left: 261px;
  font-size: var(--font-size-xl);
  font-family: var(--font-jejugothic);
  color: var(--ijo-army);
  display: none;
}
.game-iconsfork-knife-spoon12 {
  position: absolute;
  height: 105.86%;
  width: 38.79%;
  top: 0;
  right: 61.21%;
  bottom: -5.86%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eatfit25 {
  position: absolute;
  height: 60.94%;
  width: 54.55%;
  top: 18.75%;
  left: 45.45%;
  display: inline-block;
  cursor: pointer;
}
.eatfit24 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 12.64%;
  top: 0;
  right: 87.36%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  color: inherit;
}
.navbar-child17 {
  position: absolute;
  height: 14.07%;
  width: 0.77%;
  top: 42.19%;
  right: 85.75%;
  bottom: 43.74%;
  left: 13.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child76,
.restaurant20 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child76 {
  height: 37.52%;
  width: 6.54%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.restaurant-parent10 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 526px;
  width: 153px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.frame-child77 {
  position: absolute;
  height: 37.52%;
  width: 4.95%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 95.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calorie-tracker-parent10 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 716px;
  width: 202px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.vector-icon136 {
  position: absolute;
  height: 54.69%;
  width: 2.68%;
  top: 23.44%;
  right: 0;
  bottom: 21.88%;
  left: 97.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar-child18 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--color-sandybrown-200);
  position: absolute;
  height: 56.25%;
  width: 20.38%;
  top: 21.88%;
  right: 6.51%;
  bottom: 21.88%;
  left: 73.1%;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar12,
.profile-child {
  position: absolute;
  mix-blend-mode: normal;
}
.navbar12 {
  top: 24px;
  left: 67px;
  width: 1305px;
  height: 64px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.profile-child {
  top: 234px;
  left: 199px;
  border-radius: var(--br-11xl);
  background-color: var(--krem);
  width: 1042px;
  height: 674px;
}
.profile-navbar-child1,
.profile-navbar-child2 {
  position: absolute;
  height: 111.11%;
  width: 100.84%;
  top: 0;
  right: -0.42%;
  bottom: -11.11%;
  left: -0.42%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile-navbar-child2 {
  height: 66.67%;
  width: 31.24%;
  top: 16.67%;
  right: 66.67%;
  bottom: 16.67%;
  left: 2.1%;
  border-radius: var(--br-6xl);
  cursor: pointer;
}
.profile3 {
  position: absolute;
  top: 30.56%;
  left: 13.84%;
  font-weight: 600;
  color: var(--ijo-darker);
  text-align: center;
}
.help-center2,
.settings3 {
  text-decoration: none;
  position: absolute;
  top: 29.17%;
  left: 45.07%;
  font-weight: 600;
  color: inherit;
}
.help-center2 {
  left: 75.16%;
}
.profile-navbar2 {
  position: absolute;
  top: 256px;
  left: 243px;
  width: 954px;
  height: 72px;
  mix-blend-mode: normal;
  font-size: var(--font-size-5xl);
  color: var(--white);
}
.profile-item {
  position: absolute;
  top: 456px;
  left: 289px;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.profile-item:hover {
  animation: 1s ease-in-out 0s 1 normal none scale-up;
  opacity: 1;
}
.bob-the-builder1 {
  position: absolute;
  top: 489px;
  left: 720px;
  font-size: var(--font-size-29xl);
  color: var(--ijo-darker);
}
.hi-everyone-my1 {
  position: absolute;
  top: 567px;
  left: 720px;
  display: inline-block;
  width: 411px;
}
.frame-child78 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  width: 80px;
  height: 30px;
}
.kg2 {
  position: absolute;
  top: 3px;
  left: 19px;
  font-weight: 500;
}
.vector-group {
  position: absolute;
  top: 628px;
  left: 720px;
  width: 80px;
  height: 30px;
  font-family: var(--font-poppins);
}
.cm2 {
  position: absolute;
  top: 3px;
  left: 14px;
  font-weight: 500;
}
.vector-container {
  position: absolute;
  top: 628px;
  left: 810px;
  width: 80px;
  height: 30px;
  font-family: var(--font-poppins);
}
.frame-child80 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  width: 199px;
  height: 30px;
}
.bmi-123-underweight {
  position: absolute;
  top: 3px;
  left: 12px;
  font-weight: 500;
  display: inline-block;
  width: 176px;
}
.vector-parent1 {
  position: absolute;
  top: 628px;
  left: 900px;
  width: 199px;
  height: 30px;
  font-family: var(--font-poppins);
}
.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--ijo-army);
  width: 60px;
  height: 60px;
}
.vector-icon137 {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent1 {
  text-decoration: none;
  position: absolute;
  top: 683px;
  left: 720px;
  width: 60px;
  height: 60px;
}
.ellipse-parent1:hover,
.ellipse-parent2:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.vector-icon138 {
  position: absolute;
  height: 50%;
  width: 41.67%;
  top: 25%;
  right: 30%;
  bottom: 25%;
  left: 28.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent2 {
  text-decoration: none;
  position: absolute;
  top: 683px;
  left: 800px;
  width: 60px;
  height: 60px;
}
.group-child17,
.vector-icon139 {
  position: absolute;
  cursor: pointer;
}
.group-child17 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--ijo-army);
  width: 60px;
  height: 60px;
}
.vector-icon139 {
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent3 {
  text-decoration: none;
  position: absolute;
  top: 807px;
  left: 1137px;
  width: 60px;
  height: 60px;
}
.profile2 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow-y: auto;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--black);
  font-family: var(--font-inter);
}
