.vector-icon95 {
  position: absolute;
  height: 86.72%;
  width: 84.38%;
  top: 6.64%;
  right: 6.25%;
  bottom: 6.64%;
  left: 9.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.game-iconsfork-knife-spoon9 {
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 38.79%;
  top: 0;
  right: 61.21%;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.eatfit19 {
  text-decoration: none;
  position: absolute;
  height: 60.94%;
  width: 54.55%;
  top: 18.75%;
  left: 45.45%;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}
.eatfit18 {
  position: absolute;
  height: 100%;
  width: 12.64%;
  top: 0;
  right: 87.36%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-11xl);
}
.navbar-child12 {
  position: absolute;
  height: 14.07%;
  width: 0.77%;
  top: 42.19%;
  right: 85.75%;
  bottom: 43.74%;
  left: 13.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.restaurant9 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.frame-child56 {
  position: absolute;
  height: 37.52%;
  width: 6.54%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.restaurant-parent7 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 526px;
  width: 153px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.calorie-tracker9,
.frame-child57 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child57 {
  height: 37.52%;
  width: 4.95%;
  top: 29.17%;
  right: 0;
  bottom: 33.31%;
  left: 95.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.calorie-tracker-parent7 {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 716px;
  width: 202px;
  height: 24px;
  cursor: pointer;
  color: inherit;
}
.vector-icon96 {
  position: absolute;
  height: 54.69%;
  width: 2.68%;
  top: 23.44%;
  right: 0;
  bottom: 21.88%;
  left: 97.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar-child13 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--color-sandybrown-200);
  position: absolute;
  height: 56.25%;
  width: 20.38%;
  top: 21.88%;
  right: 6.51%;
  bottom: 21.88%;
  left: 73.1%;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar9 {
  position: absolute;
  top: 24px;
  left: 67px;
  width: 1305px;
  height: 64px;
  mix-blend-mode: normal;
  text-align: left;
  color: var(--color-gray-200);
}
.frame-child58 {
  position: absolute;
  top: 106px;
  left: calc(50% - 124px);
  border-radius: var(--br-3xs);
  background-color: var(--coklat);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  width: 248px;
  height: 248px;
  mix-blend-mode: darken;
}
.oreo-cookie12 {
  margin: 0;
}
.oreo-cookie-crumble-container12 {
  position: absolute;
  top: 186px;
  left: calc(50% - 69px);
  font-weight: 500;
}
.cals39 {
  position: absolute;
  top: 267px;
  left: calc(50% - 30px);
  font-size: var(--font-size-mini);
}
.frame-child59 {
  position: absolute;
  top: 249.5px;
  left: calc(50% - 100.5px);
  border-top: 1px solid var(--ijo-darker);
  box-sizing: border-box;
  width: 200px;
  height: 1px;
}
.image-3-icon43,
.rp-2400028 {
  position: absolute;
  left: calc(50% - 102px);
}
.image-3-icon43 {
  top: 0;
  width: 205px;
  height: 205px;
  object-fit: cover;
}
.rp-2400028 {
  top: 304px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 107px;
}
.frame-child60 {
  position: absolute;
  top: 301px;
  left: calc(50% + 69px);
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 30px;
}
.vector-icon97 {
  position: absolute;
  top: 309px;
  left: calc(50% + 77px);
  width: 14px;
  height: 14px;
}
.rectangle-parent16 {
  position: absolute;
  top: 549px;
  left: 123px;
  width: 248px;
  height: 354px;
}
.logo-1-icon2,
.rectangle-parent17,
.rectangle-parent18 {
  position: absolute;
  top: 940px;
  left: 123px;
  width: 248px;
  height: 354px;
}
.logo-1-icon2,
.rectangle-parent18 {
  top: 1331px;
}
.logo-1-icon2 {
  top: 0;
  left: 34px;
  width: 214px;
  height: 279px;
  object-fit: cover;
}
.beard-papas9,
.pastry2 {
  position: absolute;
  top: 249px;
  left: 0;
  font-weight: 800;
}
.pastry2 {
  top: 307px;
  left: 110px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--ijo-army);
  display: inline-block;
  width: 82px;
  height: 24px;
}
.logo-1-container {
  position: absolute;
  top: 108px;
  left: 568px;
  width: 303px;
  height: 331px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--ijo-darker);
}
.restaurant-page-1-restaurant-child {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--coklat);
  position: absolute;
  top: 476px;
  left: 123px;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 266px;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 var(--padding-mid);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.filter2,
.vector-icon100 {
  position: relative;
}
.vector-icon100 {
  width: 16px;
  height: 9px;
}
.filter-container {
  position: absolute;
  top: 476px;
  left: 962px;
  border-radius: var(--br-mini);
  background-color: var(--ijo-army);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 140px;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-10xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-sm);
  color: var(--white);
}
.vector-icon101 {
  position: relative;
  width: 22px;
  height: 18px;
}
.my-cart-container {
  text-decoration: none;
  position: absolute;
  top: 476px;
  left: 1139px;
  border-radius: var(--br-mini);
  background-color: var(--ijo-army);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 177px;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-6xl) 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  cursor: pointer;
  color: var(--white);
}
.order-oreo-child16 {
  position: absolute;
  height: 70.06%;
  width: 100%;
  top: 29.94%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--krem);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  mix-blend-mode: darken;
}
.oreo-cookie-crumble-container15 {
  position: absolute;
  top: 52.54%;
  left: 22.18%;
  font-weight: 500;
}
.cals42 {
  position: absolute;
  top: 75.42%;
  left: 37.9%;
  font-size: var(--font-size-mini);
}
.order-oreo-child17 {
  position: absolute;
  height: 0.28%;
  width: 80.65%;
  top: 70.48%;
  right: 9.88%;
  bottom: 29.24%;
  left: 9.48%;
  border-top: 1px solid var(--ijo-darker);
  box-sizing: border-box;
}
.image-3-icon46 {
  position: absolute;
  height: 57.91%;
  width: 82.66%;
  top: 0;
  right: 8.47%;
  bottom: 42.09%;
  left: 8.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rp-2400031 {
  position: absolute;
  width: 43.15%;
  top: 85.88%;
  left: 9.68%;
  font-weight: 500;
  text-align: left;
  display: flex;
  align-items: center;
}
.order-oreo-child18 {
  position: absolute;
  height: 8.47%;
  width: 12.1%;
  top: 85.03%;
  right: 10.08%;
  bottom: 6.5%;
  left: 77.82%;
  border-radius: 50%;
  background-color: var(--ijo-army);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.vector-icon102 {
  position: absolute;
  height: 3.95%;
  width: 5.65%;
  top: 87.29%;
  right: 13.31%;
  bottom: 8.76%;
  left: 81.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.order-oreo6 {
  top: 549px;
}
.order-oreo6,
.order-oreo7,
.order-oreo8 {
  position: absolute;
  left: 123px;
  width: 248px;
  height: 354px;
  mix-blend-mode: normal;
}
.order-oreo7 {
  top: 940px;
  cursor: pointer;
}
.order-oreo8 {
  top: 1331px;
}
.smores-eclair8 {
  position: absolute;
  top: 59.32%;
  left: 22.98%;
  font-weight: 500;
}
.image-3-icon49 {
  position: absolute;
  height: 52.54%;
  width: 75%;
  top: 0;
  right: 12.3%;
  bottom: 47.46%;
  left: 12.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.order-smores6,
.order-smores7,
.order-smores8 {
  position: absolute;
  top: 549px;
  left: 438px;
  width: 248px;
  height: 354px;
  mix-blend-mode: normal;
}
.order-smores7,
.order-smores8 {
  top: 940px;
}
.order-smores8 {
  top: 1331px;
}
.vanilla-custard-cream-container8 {
  position: absolute;
  top: 52.54%;
  left: 20.97%;
  font-weight: 500;
}
.order-vanilla6,
.order-vanilla7,
.order-vanilla8 {
  position: absolute;
  top: 549px;
  left: 753px;
  width: 248px;
  height: 354px;
  mix-blend-mode: normal;
}
.order-vanilla7,
.order-vanilla8 {
  top: 1331px;
}
.order-vanilla8 {
  top: 940px;
}
.creme-brulee11 {
  position: absolute;
  top: 59.32%;
  left: 23.79%;
  font-weight: 500;
}
.order-creme6,
.order-creme7,
.order-creme8 {
  position: absolute;
  top: 549px;
  left: 1068px;
  width: 248px;
  height: 354px;
  mix-blend-mode: normal;
}
.order-creme7,
.order-creme8 {
  top: 940px;
}
.order-creme8 {
  top: 1331px;
}
.restaurant-page-1-restaurant {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1780px;
  overflow-y: auto;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-inter);
}
